absl-py==1.1.0
alabaster==0.7.12
attrs==21.4.0
blinker==1.4
cachetools==4.2.4
cfgv==3.3.1
charset-normalizer==2.1.0
colorama==0.4.5
cycler==0.11.0
dataclasses==0.8
defusedxml==0.7.1
distlib==0.3.5
entrypoints==0.4
filelock==3.7.1
fsspec==2022.5.0
idna==3.3
imagesize==1.4.1
iniconfig==1.1.1
itsdangerous==2.1.2
mccabe==0.6.1
monty==2022.4.26
mpmath==1.2.1
nest-asyncio==1.5.5
networkx==2.8.5
pandocfilters==1.5.0
pathspec==0.9.0
platformdirs==2.5.2
ply==3.11
py==1.11.0
pyasn1==0.4.8
pycodestyle==2.8.0
pycparser==2.21
pyDeprecate==0.3.2
pyflakes==2.4.0
PyJWT==2.4.0
pyparsing==3.0.9
fastjsonschema==2.16.1
tzdata==2022.1
pytz==2022.1
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tabulate==0.8.10
tenacity==8.0.1
tensorboard-plugin-wit==1.8.1
threadpoolctl==3.1.0
toml==0.10.2
tomli==2.0.1
tqdm==4.58.0
traitlets==5.3.0
typing_extensions==4.12.2
webencodings==0.5.1
Werkzeug==2.1.2
wheel==0.37.1
zipp==3.8.0
Babel==2.10.3
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
certifi==2022.6.15
cffi==1.15.1
click==8.1.3
frozenlist==1.3.0
future==0.18.2
gmpy2==2.1.2
importlib-metadata==4.11.4
importlib-resources==5.8.0
jupyter_core==4.11.1
kiwisolver==1.4.4
latexcodec==2.0.1
llvmlite==0.38.1
loguru==0.6.0
MarkupSafe==2.1.1
mistune==0.8.4
multidict==6.0.2
mypy-extensions==0.4.3
numpy==1.21.0
packaging==21.3
Pillow==9.2.0
plotly==5.9.0
psutil==5.9.1
pyasn1-modules==0.2.7
pyrsistent==0.18.1
PySocks==1.7.1
python-dateutil==2.8.2
pyu2f==0.1.5
PyYAML==5.4.1
pyzmq==23.2.0
rsa==4.9
ruamel.yaml.clib==0.2.6
setuptools==59.5.0
tensorboard-data-server==0.6.0
tinycss2==1.1.1
tornado==6.2
typed-ast==1.5.4
virtualenv==20.15.1
aiosignal==1.2.0
async-timeout==4.0.2
black==22.6.0
bleach==5.0.1
brotlipy==0.7.0
cftime==1.6.1
cryptography==37.0.4
flake8==4.0.1
grpcio==1.48.0
Jinja2==3.1.2
joblib==1.1.0
jsonschema==4.7.2
jupyter-client==7.3.4
Markdown==3.4.1
seaborn==0.13.2
nodeenv==1.7.0
numba==0.55.2
palettable==3.3.0
pandas==1.4.3
pip==22.2
protobuf==3.20.1
pybtex==0.24.0
Pygments==2.12.0
python-louvain==0.15
pytz-deprecation-shim==0.1.0.post0
ruamel.yaml==0.17.21
scipy==1.8.1
sip==6.6.2
spglib==1.16.5
sympy==1.10.1
ukkonen==1.0.1
uncertainties==3.1.7
yacs==0.1.8
yarl==1.7.2
aiohttp==3.8.1
Flask==2.1.3
identify==2.5.2
jupyterlab-pygments==0.2.2
nbformat==5.4.0
netCDF4==1.6.0
oauthlib==3.2.0
pyOpenSSL==22.0.0
PyQt5-sip==12.11.0
scikit-learn==1.1.1
tzlocal==4.2
APScheduler==3.6.3
ase==3.21.1
nbclient==0.6.6
pre-commit==2.10.1
PyQt5==5.15.7
torch==1.13.1
vtk==9.1.0
nbconvert==6.5.0
torch-cluster==1.6.0
torch-scatter==2.1.0
requests==2.28.1
torchaudio==0.13.1
google-auth==1.35.0
googledrivedownloader==0.4
pymatgen==2020.12.31
torch-sparse==0.6.15
requests-oauthlib==1.3.1
Sphinx==5.0.2
torchvision==0.14.1
google-auth-oauthlib==0.4.6
torch-geometric==2.2.0
nbsphinx==0.8.9
tensorboard==2.5.0
pathtools==0.1.2
lmdb==1.1.1
smmap==5.0.0
shortuuid==1.0.9
setproctitle==1.2.3
rdkit-pypi==2021.9.2
promise==2.3
pluggy==0.13.1
opt-einsum==3.3.0
h5py==3.7.0
docutils==0.17.1
docker-pycreds==0.4.0
cloudpickle==2.1.0
submitit==1.4.5
pytest==6.2.2
opt-einsum-fx==0.1.4
gitdb==4.0.9
timm==0.4.12
sphinx-rtd-theme==1.0.0
GitPython==3.1.27
e3nn==0.4.4
ocp-models==0.0.3
urllib3==1.26.20
eval_type_backport==0.2.2
sentry-sdk==2.22.0
pydantic_core==2.27.2
annotated-types==0.7.0
pydantic==2.10.6
wandb==0.19.8
fonttools==4.56.0
contourpy==1.1.1
matplotlib==3.7.5
umap==0.1.1
